@keyframes borderCycle {
  0% {
    border-color: #ec4899;
  } /* breast-pink-500 */
  50% {
    border-color: #db2777;
  } /* breast-pink-600 */
  100% {
    border-color: #ec4899;
  } /* breast-pink-500 */
}

.animate-border-cycle {
  animation: borderCycle 2s infinite;
}
