@keyframes borderCycle {
  0% { border-color: #EC4899; } /* breast-pink-500 */
  50% { border-color: #DB2777; } /* breast-pink-600 */
  100% { border-color: #EC4899; } /* breast-pink-500 */
}

.animate-border-cycle {
  animation: borderCycle 2s infinite;
}